__pycache__/
*.pyc
/venv

# Environment & Secrets
.env
credentials/service-account.json

# Logs
logs/
container/logs/
dbt/logs/

# dbt generated artifacts
dbt/target/

# VSCode
.vscode/