# Data & Data Ingestion
data/
ingestion/*.csv

# Credentials
credentials/*.json
.env

# Python
__pycache__/
*.pyc
/venv

# Logs
logs/
container/logs/
dbt/logs/

# dbt generated artifacts & packages
dbt/target/
dbt/dbt_packages/
dbt/dbt_internal_packages/
dbt/.user.yml

# IDEs
.vscode/

# Large local files
metabase.tar